.container {
  border-radius: 5px;
  width: 100%;
}

.questionBox {
  width: 100%;
  border-style: solid;
  background-color: white;
}

#qText {
  border-style: solid;
  height: 50%;
  width: 100%;
  margin-bottom: 0.7rem;
  background-color: blue;
}

.scoreBoard {
  width: 100%;
  height: 130px;
  border-radius: 8px;
}

.currentScore {
  width: 80%;
  background-color: red;
  text-align: center;
}

.hud-prefix {
  height: 2rem;
  width: 100%;
  padding: 0;
  margin-top: 3 rem;
}

.timer {
  border-style: solid;
  width: 100%;
  height: 8rem;
  background-color: green;
  float: left;
}

.set-interval {
  border-style: solid;
  width: 100%;
  height: 1.8rem;
}

#question {
  width: 100%;
  padding: 3rem;
  border-radius: 4px;
  border-style: solid;
  background-color: white;
}

.choices {
  width: 100%;
  height: 8rem;
  border-style: solid;
  float: center;
  text-align: center;
}

.choices:hover {
  cursor: pointer;
  transform: scale(1.5);
  background-color: purple;
}
